* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

/* BGC animation */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: center;
}

h1,
h3,
h4,
p {
  text-align: center;
  margin: 20px 0;
}

button {
  width: 120px;
  border: none;
  text-transform: uppercase;
}

#list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#list .card {
  width: calc(20% - 20px);
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.8);
  transition: 0.3s;
}

#list .card:hover {
  filter: contrast(120%);
}

.card img {
  width: 100%;
  justify-content: center;
  border-radius: 5px;
}

#prev {
  margin: 0 10% 1% 0;
}
#next {
  margin: 0 0% 1% 10%;
}
